@import "tailwindcss";

body{
  background: #0d030c;
  overflow-x: hidden;
}

.hero-bg{
  background-image: url("./assets/bg_final_hero.png");
}

@theme{
  --font-nunito: "Nunito", "snas-serif";
  --font-heebo: "Heebo", "snas-serif";

  /* Custom Colors */
  --color-primary: #6617cb; 
  --color-secondary: #cb218e; 
  --color-light: #e8dcfc; 
  --color-dark: #0d030c; 

  /* Custom Backgrounds */
  --bg-light: #f7fafc; 
  --bg-dark: #0d030c;
  --gradient-btn: linear-gradient(to right, #6617cb, #cb218e); 
  --gradient-card: linear-gradient(to bottom, #ff7e5f, #feb47b);

  --drop-shadow-primaryDark: 0 4px 12px rgba(13, 3, 12, 0.6);
  --drop-shadow-primary: 0 4px 12px rgba(102, 23, 203, 0.6);
  --drop-shadow-secondary: 0 4px 12px rgba(203, 33, 142, 0.6);

  --bg-heroBg: url("./assets/bg_final_hero.png");
  
}

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}